@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f0f0f0;
}

button {
    display: block;
    padding: .3rem .5rem;
    font-size: .8rem;
    outline: none;
    border-radius: 5px;
}

input {
    padding: .2rem;
}